In [71]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import pandas as pd

In [57]:
import pandas as pd
data = pd.read_csv('file.csv', encoding = "ISO-8859-1", header=None)

C:\Users\emmax\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [107]:
data.rename (columns= {0: 'tweet'}, inplace= True) 
data_new = data['tweet']
data_new

0         1327691558691418112 2020-11-14 11:15:09 -0800 ...
1         1327687829137317888 2020-11-14 11:00:20 -0800 ...
2         1327683994469756934 2020-11-14 10:45:06 -0800 ...
3         1327680241335214080 2020-11-14 10:30:11 -0800 ...
4         1327676180187779072 2020-11-14 10:14:03 -0800 ...
                                ...
233191    7307715074 2010-01-02 11:36:22 -0800 <WSJ> Det...
233192    7305449169 2010-01-02 10:03:36 -0800 <WSJ> Don...
233193    7305448834 2010-01-02 10:03:35 -0800 <WSJ> Sho...
233194    7301809849 2010-01-02 07:29:05 -0800 <WSJ> Oba...
233195    7296633574 2010-01-02 02:19:49 -0800 <WSJ> Dan...
Name: tweet, Length: 233196, dtype: object

In [108]:
newSplit = data["tweet"].str.split(" ", n = 1, expand = True)

In [109]:
newSplit2 = newSplit[1].str.split(" ", n = 1, expand = True)
newSplit2

                 0                                                  1
0       2020-11-14  11:15:09 -0800 <WSJ> Thousands of Trump suppor...
1       2020-11-14  11:00:20 -0800 <WSJ> The pandemic has reminded...
2       2020-11-14  10:45:06 -0800 <WSJ> Schools are fighting a wa...
3       2020-11-14  10:30:11 -0800 <WSJ> Some countries and states...
4       2020-11-14  10:14:03 -0800 <WSJ> Avoid the airport bar. Th...
...            ...                                                ...
233191  2010-01-02  11:36:22 -0800 <WSJ> Details Emerge on Victims...
233192  2010-01-02  10:03:36 -0800 <WSJ> Don't Fear the 2010s  htt...
233193  2010-01-02  10:03:35 -0800 <WSJ> Showtime in Detroit  http...
233194  2010-01-02  07:29:05 -0800 <WSJ> Obama Connects al Qaeda t...
233195  2010-01-02  02:19:49 -0800 <WSJ> Danish Police Stop Attack...

[233196 rows x 2 columns]

In [110]:
newSplit3 = newSplit2[1].str.split(" ", n = 3, expand = True)

In [111]:
newSplit2["tweet"] = newSplit3[3]
newSplit_final = newSplit2[[0,"tweet"]]
newSplit_final

                 0                                              tweet
0       2020-11-14  Thousands of Trump supporters gathered in the ...
1       2020-11-14           The pandemic has reminded many Americans
2       2020-11-14  Schools are fighting a wave of increasingly ag...
3       2020-11-14  Some countries and states are moving toward sh...
4       2020-11-14  Avoid the airport bar. That is just one tip fr...
...            ...                                                ...
233191  2010-01-02  Details Emerge on Victims of Afghan Blast  htt...
233192  2010-01-02         Don't Fear the 2010s  http://bit.ly/8KWvHQ
233193  2010-01-02          Showtime in Detroit  http://bit.ly/5FnNMA
233194  2010-01-02  Obama Connects al Qaeda to Jet Plot  http://bi...
233195  2010-01-02  Danish Police Stop Attack on Cartoonist  http:...

[233196 rows x 2 columns]

In [112]:
newSplit_final = newSplit_final.dropna()
newSplit_final

                 0                                              tweet
0       2020-11-14  Thousands of Trump supporters gathered in the ...
1       2020-11-14           The pandemic has reminded many Americans
2       2020-11-14  Schools are fighting a wave of increasingly ag...
3       2020-11-14  Some countries and states are moving toward sh...
4       2020-11-14  Avoid the airport bar. That is just one tip fr...
...            ...                                                ...
233191  2010-01-02  Details Emerge on Victims of Afghan Blast  htt...
233192  2010-01-02         Don't Fear the 2010s  http://bit.ly/8KWvHQ
233193  2010-01-02          Showtime in Detroit  http://bit.ly/5FnNMA
233194  2010-01-02  Obama Connects al Qaeda to Jet Plot  http://bi...
233195  2010-01-02  Danish Police Stop Attack on Cartoonist  http:...

[233189 rows x 2 columns]

In [113]:
len(newSplit_final)

233189

In [114]:
compound = []
pos = []
neu = []
neg = []
for i in range(len(newSplit_final)):
    tweet = newSplit_final.iloc[i,1].split("https:")[0]
    results = analyzer.polarity_scores(tweet)
    compound.append(results["compound"])
    pos.append(results["pos"])
    neu.append(results["neu"])
    neg.append(results["neg"])

In [115]:
newSplit_final['Compound'] = compound
newSplit_final['Positive'] = pos
newSplit_final['Negative'] = neu
newSplit_final['Neutral'] = neg

C:\Users\emmax\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\emmax\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\emmax\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\emmax\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [116]:
newSplit_final.rename (columns= {0: 'date'}, inplace= True) 
newSplit_final

C:\Users\emmax\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,date,tweet,Compound,Positive,Negative,Neutral
0,2020-11-14,Thousands of Trump supporters gathered in the ...,0.2263,0.162,0.726,0.112
1,2020-11-14,The pandemic has reminded many Americans,0.0000,0.000,1.000,0.000
2,2020-11-14,Schools are fighting a wave of increasingly ag...,-0.7184,0.000,0.562,0.438
3,2020-11-14,Some countries and states are moving toward sh...,0.0000,0.000,1.000,0.000
4,2020-11-14,Avoid the airport bar. That is just one tip fr...,0.4767,0.163,0.769,0.068
...,...,...,...,...,...,...
233191,2010-01-02,Details Emerge on Victims of Afghan Blast htt...,-0.3182,0.000,0.753,0.247
233192,2010-01-02,Don't Fear the 2010s http://bit.ly/8KWvHQ,0.3875,0.396,0.604,0.000
233193,2010-01-02,Showtime in Detroit http://bit.ly/5FnNMA,0.0000,0.000,1.000,0.000
233194,2010-01-02,Obama Connects al Qaeda to Jet Plot http://bi...,0.0000,0.000,1.000,0.000
233195,2010-01-02,Danish Police Stop Attack on Cartoonist http:...,-0.6486,0.000,0.485,0.515

In [117]:
newSplit_final = newSplit_final[['date', 'Compound','Positive', 'Negative', 'Neutral']]
newSplit_final

              date  Compound  Positive  Negative  Neutral
0       2020-11-14    0.2263     0.162     0.726    0.112
1       2020-11-14    0.0000     0.000     1.000    0.000
2       2020-11-14   -0.7184     0.000     0.562    0.438
3       2020-11-14    0.0000     0.000     1.000    0.000
4       2020-11-14    0.4767     0.163     0.769    0.068
...            ...       ...       ...       ...      ...
233191  2010-01-02   -0.3182     0.000     0.753    0.247
233192  2010-01-02    0.3875     0.396     0.604    0.000
233193  2010-01-02    0.0000     0.000     1.000    0.000
233194  2010-01-02    0.0000     0.000     1.000    0.000
233195  2010-01-02   -0.6486     0.000     0.485    0.515

[233189 rows x 5 columns]

In [119]:
newSplit_final_gb = newSplit_final.groupby('date').agg({'Compound': ['mean'],
                                                   'Positive': ['mean'], 
                                                   'Negative': ['mean'],
                                                    'Neutral': ['mean']
                                                  })
newSplit_final_gb.drop(newSplit_final_gb.index[0])

            Compound  Positive  Negative   Neutral
                mean      mean      mean      mean
date
2010-01-02 -0.201375  0.049500  0.752375  0.198125
2010-01-03 -0.001012  0.063750  0.865750  0.070500
2010-01-04  0.098568  0.094909  0.871636  0.033500
2010-01-05  0.010268  0.056636  0.912818  0.030545
2010-01-06 -0.025283  0.056500  0.890125  0.053375
...              ...       ...       ...       ...
2020-11-14  0.081432  0.058342  0.907842  0.033816
BMX         0.308900  0.201000  0.799000  0.000000
Soccer      0.340000  1.000000  0.000000  0.000000
million     0.000000  0.000000  1.000000  0.000000
procedure   0.526700  0.298000  0.702000  0.000000

[3822 rows x 4 columns]

In [120]:
newSplit_final_gb =newSplit_final_gb.drop(['BMX', 'Soccer','million', 'procedure', '-0800' ])
newSplit_final_gb

            Compound  Positive  Negative   Neutral
                mean      mean      mean      mean
date
2010-01-02 -0.201375  0.049500  0.752375  0.198125
2010-01-03 -0.001012  0.063750  0.865750  0.070500
2010-01-04  0.098568  0.094909  0.871636  0.033500
2010-01-05  0.010268  0.056636  0.912818  0.030545
2010-01-06 -0.025283  0.056500  0.890125  0.053375
...              ...       ...       ...       ...
2020-11-10  0.057316  0.072629  0.883677  0.043694
2020-11-11  0.049574  0.063011  0.903977  0.033011
2020-11-12  0.060377  0.076276  0.876759  0.046989
2020-11-13  0.030476  0.059390  0.873232  0.067390
2020-11-14  0.081432  0.058342  0.907842  0.033816

[3818 rows x 4 columns]

In [121]:
newSplit_final_gb = newSplit_final_gb.dropna()
newSplit_final_gb = newSplit_final_gb.reset_index()
newSplit_final_gb.columns = newSplit_final_gb.columns.droplevel(1)
newSplit_final_gb = newSplit_final_gb.reset_index()
newSplit_final_gb.rename (columns= {'index': 'id'}, inplace= True) 
newSplit_final_gb

        id        date  Compound  Positive  Negative   Neutral
0        0  2010-01-02 -0.201375  0.049500  0.752375  0.198125
1        1  2010-01-03 -0.001012  0.063750  0.865750  0.070500
2        2  2010-01-04  0.098568  0.094909  0.871636  0.033500
3        3  2010-01-05  0.010268  0.056636  0.912818  0.030545
4        4  2010-01-06 -0.025283  0.056500  0.890125  0.053375
...    ...         ...       ...       ...       ...       ...
3813  3813  2020-11-10  0.057316  0.072629  0.883677  0.043694
3814  3814  2020-11-11  0.049574  0.063011  0.903977  0.033011
3815  3815  2020-11-12  0.060377  0.076276  0.876759  0.046989
3816  3816  2020-11-13  0.030476  0.059390  0.873232  0.067390
3817  3817  2020-11-14  0.081432  0.058342  0.907842  0.033816

[3818 rows x 6 columns]

In [123]:
import psycopg2
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:password@database-2.cmuyi10lpj9v.us-west-1.rds.amazonaws.com/example')
newSplit_final_gb.to_sql(name='sentiments', con=engine, if_exists='replace', index=False)